<div class="min-h-screen bg-[#0d1117] text-white font-['Inter_Tight', sans-serif]">
  <div class="absolute inset-0 z-0" routerLink="/home"></div>

  <app-header />

  <div class="px-6 pt-26 pb-14">
    <mat-card appearance="outlined" class="relative z-10 max-w-xl mx-auto px-8 py-6 bg-[#445469]!">
      <h1 class="text-2xl font-bold leading-relaxed">Example 1: User Profile Form</h1>
      <p class="mb-4 text-[#FF31CE] text-sm">Built-in and Custom Validation with Angular Material: A Complete Overview
      </p>
      <p class="mb-6 text-sm">This example demonstrates a user profile form with various input fields,
        including conditional and custom validation with dynamic error messages.</p>

      <form (submit)="onSubmit($event)" autocomplete="off" novalidate>
        <mat-form-field appearance="fill" class="w-full mb-1">
          <mat-label for="firstName">First name</mat-label>
          @let fn = userForm.firstName;
          <input [formField]="fn" id="firstName" matInput type="text" placeholder="First name" />
          <mat-error app-form-error [control]="fn()"></mat-error>
        </mat-form-field>

        <mat-form-field appearance="fill" class="w-full mb-1">
          <mat-label for="lastName">Last name</mat-label>
          @let ln = userForm.lastName;
          <input [formField]="ln" id="lastName" matInput type="text" placeholder="Last name" />
          <mat-error app-form-error [control]="ln()"></mat-error>
        </mat-form-field>

        <mat-form-field appearance="fill" class="w-full mb-1">
          <mat-label for="phone">Phone number</mat-label>
          @let pn = userForm.phone;
          <input [formField]="pn" id="phone" matInput type="text" placeholder="Phone number" />
          <mat-error app-form-error [control]="pn()"></mat-error>
        </mat-form-field>

        <mat-form-field appearance="fill" class="w-full mb-1">
          <mat-label for="email">Email address</mat-label>
          @let ea = userForm.email;
          <input [formField]="ea" id="email" matInput type="email" placeholder="Email" />
          <mat-error app-form-error [control]="ea()"></mat-error>
        </mat-form-field>

        <mat-checkbox [formField]="userForm.emailMarketing" type="checkbox">Email Marketing</mat-checkbox>

        <mat-form-field appearance="fill" class="w-full mb-1 mt-2">
          <mat-label for="password">Password</mat-label>
          @let pw = userForm.password;
          <input [formField]="pw" id="password" matInput type="password" placeholder="Password" />
          <mat-error app-form-error [control]="pw()"></mat-error>
        </mat-form-field>

        @if (!userForm.confirmPassword().hidden() && userForm.password().valid()) {
        <mat-form-field appearance="fill" class="w-full mb-1">
          <mat-label for="confirmPassword">Confirm Password</mat-label>
          @let cpw = userForm.confirmPassword;
          <input [formField]="cpw" id="confirmPassword" matInput type="password" placeholder="Confirm Password" />
          <mat-error app-form-error [control]="cpw()"></mat-error>
        </mat-form-field>
        }

        <div class="flex flex-col sm:flex-row sm:justify-between items-center mt-4">
          <mat-card appearance="outlined" class="w-full sm:w-3/5 mb-8 sm:mb-0 px-4 py-2 bg-[#445469]! text-base">Signal
            Form for:
            {{fullName()}}</mat-card>
          <button matButton="tonal" type="submit" [disabled]="userForm().invalid() || userForm().submitting()">
            {{userForm().submitting() ? 'Sending...' : 'Submit'}}
          </button>
        </div>
      </form>

    </mat-card>
  </div>
</div>

<!-- --------------------------------------------------------------------------- -->
<!-- --------------------------------------------------------------------------- -->
<!-- --------------------------------------------------------------------------- -->
<!-- Pattern before implementing FormError component with attribute selector -->
<!-- We dont't need to use @if for the touched state (mat-error automatically handles the touched and dirty state) -->
<!--
@if (userForm.firstName().invalid() && userForm.firstName().touched()) {
@for (error of userForm.firstName().errors(); track error.kind) {
<mat-error>{{ error.message }}</mat-error>
}
}
 -->

<!-- getError() - field method that allows to easily get the error of a specific validator, by passing the error kind as an argument, and removes the need to iterate over the errors object of the field to find the error you are looking for: -->
<!-- ...for example:

<input id="login" [formField]="userForm.login" />
@let login = userForm.login();
@if (login.touched() && login.invalid()) {
  @if (login.getError('required')) {
    <div>Login is required</div>
  }

// getError() narrows the type of the error to minLength error
@if (login.getError('minLength'); as minLengthError) {
<div>Login should be {{ minLengthError.minLength }} characters</div>
}
}
-->
