<div class="min-h-screen bg-[#0d1117] text-white font-['Inter_Tight',sans-serif]">
  <div class="absolute inset-0 z-0" routerLink="/home"></div>

  <app-header />

  <div class="px-6 pt-26 pb-6">
    <mat-card appearance="outlined" class="relative z-10 max-w-xl mx-auto px-8 py-6 bg-[#445469]!">
      <form (submit)="onSubmit($event)" autocomplete="off" novalidate>

        <mat-form-field appearance="fill" class="w-full mb-1">
          <mat-label for="firstName">First name</mat-label>
          @let fn = userForm.firstName;
          <input [formField]="fn" id="firstName" matInput type="text" placeholder="First name" />
          <mat-error app-form-error [control]="fn()"></mat-error>
        </mat-form-field>

        <mat-form-field appearance="fill" class="w-full mb-1">
          <mat-label for="lastName">Last name</mat-label>
          @let ln = userForm.lastName;
          <input [formField]="ln" id="lastName" matInput type="text" placeholder="Last name" />
          <mat-error app-form-error [control]="ln()"></mat-error>
        </mat-form-field>

        <mat-form-field appearance="fill" class="w-full mb-1">
          <mat-label for="phone">Phone number</mat-label>
          @let pn = userForm.phone;
          <input [formField]="pn" id="phone" matInput type="text" placeholder="Phone number" />
          <mat-error app-form-error [control]="pn()"></mat-error>
        </mat-form-field>

        <mat-form-field appearance="fill" class="w-full mb-1">
          <mat-label for="email">Email address</mat-label>
          @let ea = userForm.email;
          <input [formField]="ea" id="email" matInput type="email" placeholder="Email" />
          <mat-error app-form-error [control]="ea()"></mat-error>
        </mat-form-field>

        <mat-checkbox [formField]="userForm.emailMarketing" type="checkbox">Email Marketing</mat-checkbox>

        <mat-form-field appearance="fill" class="w-full mb-1 mt-2">
          <mat-label for="password">Password</mat-label>
          @let pw = userForm.password;
          <input [formField]="pw" id="password" matInput type="password" placeholder="Password" />
          <mat-error app-form-error [control]="pw()"></mat-error>
        </mat-form-field>

        @if (!userForm.confirmPassword().hidden() && userForm.password().valid()) {
        <mat-form-field appearance="fill" class="w-full mb-1">
          <mat-label for="confirmPassword">Confirm Password</mat-label>
          @let cpw = userForm.confirmPassword;
          <input [formField]="cpw" id="confirmPassword" matInput type="password" placeholder="Confirm Password" />
          <mat-error app-form-error [control]="cpw()"></mat-error>
        </mat-form-field>
        }

        <div class="flex flex-col sm:flex-row sm:justify-between items-center mt-4">
          <mat-card appearance="outlined" class="w-full sm:w-3/5 mb-8 sm:mb-0 px-4 py-2 bg-[#445469]! text-base">Signal
            Form for:
            {{fullName()}}</mat-card>
          <button matButton="tonal" type="submit" [disabled]="userForm().invalid() || userForm().submitting()">
            {{userForm().submitting() ? 'Sending...' : 'Submit'}}
          </button>
        </div>

      </form>
    </mat-card>
  </div>
</div>

<!-- Pattern before implementing FormError component with attribute selector -->
<!-- We dont't need to use @if for the touched state (mat-error automatically handles the touched and dirty state) -->
<!--
@if (userForm.firstName().invalid() && userForm.firstName().touched()) {
@for (error of userForm.firstName().errors(); track error.kind) {
<mat-error>{{ error.message }}</mat-error>
}
}
 -->
