<div class="min-h-screen bg-[#0d1117] text-white font-['Inter_Tight', sans-serif]">
  <div class="absolute inset-0 z-0" routerLink="/home"></div>

  <app-header />

  <div class="px-6 pt-26 pb-14">
    <div class="card relative z-10 max-w-xl mx-auto p-4 border rounded-box border-primary bg-primary/5 shadow-xl">
      <div class="card-body">
        <h3 class="card-title mb-2 text-primary text-xl leading-tight font-bold">Signal Forms (v21)</h3>

        <form (submit)="onSubmit($event)" class="mt-5" autocomplete="off" novalidate>
          <div class="form-control max-w-xs">
            <label class="label"><span class="label-text">Guest name</span></label>
            <input type="text" [formField]="bookingForm.guestName" class="input input-bordered w-full" [class]="{
    'input-primary': !focused() || !bookingForm.guestName().invalid(),
    'input-error': focused() && bookingForm.guestName().invalid()
  }" (focus)="focused.set(true)" />

            <div class="error-label-box">
              <ng-container *ngTemplateOutlet="formError; context: { $implicit: bookingForm.guestName }"></ng-container>
            </div>
          </div>

          <div class="form-control max-w-xs mt-2">
            <label class="label"><span class="label-text">Email</span></label>
            <input type="text" [formField]="bookingForm.email" class="input input-bordered w-full" [class]="{
    'input-primary': !focused() || !bookingForm.email().invalid(),
    'input-error': focused() && bookingForm.email().invalid()
  }" (focus)="focused.set(true)" />

            <div class="error-label-box">
              <ng-container *ngTemplateOutlet="formError; context: { $implicit: bookingForm.email }"></ng-container>
            </div>
          </div>

          <div class="mt-5">
            <button type="submit" [disabled]="bookingForm().invalid() || bookingForm().pending()"
              class="btn btn-primary">
              {{bookingForm().submitting() ? 'Sending...' : 'Submit'}}
            </button>
          </div>
        </form>


        @if (lastSubmission()) {
        <div class="alert alert-success mt-5 text-sm shadow">
          <span>Last successful submission: {{ lastSubmission() | json }}</span>
        </div>
        }
      </div>
    </div>
  </div>
</div>

<!-- Form Error Template -->
<ng-template #formError let-control>
  @if (focused() && control().invalid()){
  @for (error of control().errors(); track error.kind) {
  <div class="label error-label-start" animate.leave="error-label-leave"><span
      class="label-text-alt text-xs text-error">{{
      error.message
      }}</span></div>
  }}
</ng-template>
