<div class="min-h-screen bg-[#0d1117] text-white font-['Inter_Tight', sans-serif]">
  <div class="absolute inset-0 z-0" routerLink="/home"></div>

  <app-header />

  <div class="px-6 pt-26 pb-14">
    <div class="card relative z-10 max-w-xl mx-auto p-2 border rounded-box border-[#c4c6d0] bg-[#445469] shadow-xl">
      <div class="card-body">
        <h3 class="card-title text-2xl font-bold leading-relaxed">Example 2: Booking Form</h3>
        <p class="mb-4 text-[#FF31CE] text-sm">Built-in and Custom Validation with daisyUI: Dates Overview
        </p>
        <p class="mb-4 text-sm">This example demonstrates a booking form with various input fields (especially date
          fields), including conditional and custom validation with dynamic error messages.</p>

        <form (submit)="onSubmit($event)" class="mt-5" autocomplete="off" novalidate>
          <div class="form-control max-w-xs">
            <label class="label"><span class="label-text">Guest name</span></label>
            <input type="text" [formField]="bookingForm.guestName" class="input input-bordered w-full" [class]="{
    'input-neutral': !focused().guestName || !bookingForm.guestName().invalid(),
    'input-error': focused().guestName && bookingForm.guestName().invalid()
  }" (focus)="focused.set({ ...focused(), guestName: true })" placeholder="np. Jan Kowalski" />

            <div class="error-label-box">
              @if (focused().guestName) {
              <ng-container *ngTemplateOutlet="formError; context: { $implicit: bookingForm.guestName}"></ng-container>
              }
            </div>
          </div>

          <div class="form-control max-w-xs mt-2">
            <label class="label"><span class="label-text">Email</span></label>
            <input type="text" [formField]="bookingForm.email" class="input input-bordered w-full" [class]="{
    'input-neutral': !focused().email || !bookingForm.email().invalid(),
    'input-error': focused().email && bookingForm.email().invalid()
  }" (focus)="focused.set({ ...focused(), email: true })" placeholder="np. jan.kowalski@domain.com" />

            <div class="error-label-box">
              @if (focused().email) {
              <ng-container *ngTemplateOutlet="formError; context: { $implicit: bookingForm.email }"></ng-container>
              }
            </div>
          </div>

          <div class="form-control max-w-xs mt-2">
            <label class="label"><span class="label-text">Date of birth</span></label>
            <input type="date" [formField]="bookingForm.dateOfBirth" class="input input-bordered w-full" [class]="{
    'input-neutral': !focused().dateOfBirth || !bookingForm.dateOfBirth().invalid(),
    'input-error': focused().dateOfBirth && bookingForm.dateOfBirth().invalid()
  }" (focus)="focused.set({ ...focused(), dateOfBirth: true })" />

            <div class="error-label-box">
              @if (focused().dateOfBirth) {
              <ng-container
                *ngTemplateOutlet="formError; context: { $implicit: bookingForm.dateOfBirth }"></ng-container>
              }
            </div>
          </div>

          <div class="form-control max-w-xs mt-2">
            <label class="label"><span class="label-text">Start date</span></label>
            <input type="date" [formField]="bookingForm.date.start" class="input input-bordered w-full" [class]="{
    'input-neutral': !focused().date || !bookingForm.date().invalid(),
    'input-error': focused().date && bookingForm.date().invalid()
  }" (focus)="focused.set({ ...focused(), date: true })" />

            <div class="error-label-box">
              @if (focused().date) {
              <ng-container *ngTemplateOutlet="formError; context: { $implicit: bookingForm.date }"></ng-container>
              }
            </div>
          </div>

          <div class="form-control max-w-xs mt-2">
            <label class="label"><span class="label-text">End date</span></label>
            <input type="date" [formField]="bookingForm.date.end" class="input input-bordered w-full" [class]="{
    'input-neutral': !focused().date || !bookingForm.date().invalid(),
    'input-error': focused().date && bookingForm.date().invalid()
  }" (focus)="focused.set({ ...focused(), date: true })" />
          </div>


          <div class="mt-14">
            <button type="submit" [disabled]="bookingForm().invalid() || bookingForm().pending()"
              class="btn btn-primary">
              {{bookingForm().submitting() ? 'Sending...' : 'Submit'}}
            </button>
          </div>
        </form>


        @if (lastSubmission()) {
        <div class="alert mt-5 bg-[#FF31CE]/50 border-neutral text-sm shadow">
          <span>Last successful submission:
            @if (debouncedLastSubmission.isLoading()) {
            <span>Waiting for stable submission...</span>
            }
            {{ debouncedLastSubmission.isLoading() ? '' : debouncedLastSubmission.value() | json}}</span>
          <!-- <span>Last successful submission: {{ lastSubmission() | json }}</span> -->
        </div>
        }
      </div>
    </div>
  </div>
</div>

<!-- Form Error Template -->
<ng-template #formError let-control>
  @if (control().invalid()){
  @for (error of control().errors(); track error.kind) {
  <div class="label error-label-start" animate.leave="error-label-leave"><span
      class="label-text-alt text-xs text-error">{{
      error.message
      }}</span></div>
  }}
</ng-template>
