<div class="min-h-screen bg-[#0d1117] text-white font-['Inter_Tight', sans-serif]">
  <div class="absolute inset-0 z-0" routerLink="/home"></div>

  <app-header />

  <div class="px-6 pt-26 pb-14">
    <div class="card relative z-10 max-w-xl mx-auto p-2 border rounded-box border-[#c4c6d0] bg-[#2f4f75] shadow-xl">
      <div class="card-body">
        <h3 class="card-title text-2xl font-bold leading-relaxed">Example 3: Booking Form</h3>
        <p class="mb-4 text-[#FF31CE] text-sm">Built-in and Custom Validation with daisyUI: Dates Overview
        </p>
        <p class="mb-4 text-sm">This example demonstrates a booking form with various input fields (especially date
          fields), including conditional and custom validation with dynamic error messages.</p>

        <form (submit)="onSubmit($event)" class="mt-5" autocomplete="off" novalidate>
          <div class="form-control max-w-xs">
            @let gn = bookingForm.guestName;
            <label class="label flex items-center gap-0.5">
              <span class="label-text">Guest name</span>
              @if (gn().required()) {
              <span class="label-text">*</span>
              }
            </label>
            <input type="text" [formField]="gn" class="input input-bordered w-full" [class]="{
    'input-neutral': !focused().guestName || !gn().invalid(),
    'input-error': focused().guestName && gn().invalid()
  }" (focus)="focused.set({ ...focused(), guestName: true })" placeholder="np. Jan Kowalski" />

            <div class="error-label-box">
              @if (focused().guestName) {
              <ng-container *ngTemplateOutlet="formError; context: { $implicit: gn}"></ng-container>
              }
            </div>
          </div>

          <div class="form-control max-w-xs mt-2">
            @let ea = bookingForm.email;
            <label class="label flex items-center gap-0.5">
              <span class="label-text">Email</span>
              @if (ea().required()) {
              <span class="label-text">*</span>
              }
            </label>
            <input type="text" [formField]="ea" class="input input-bordered w-full" [class]="{
    'input-neutral': !focused().email || !ea().invalid(),
    'input-error': focused().email && ea().invalid()
  }" (focus)="focused.set({ ...focused(), email: true })" placeholder="np. jan.kowalski@domain.com" />

            <div class="error-label-box">
              @if (focused().email) {
              <ng-container *ngTemplateOutlet="formError; context: { $implicit: ea }"></ng-container>
              }
            </div>
          </div>

          <div class="form-control max-w-xs mt-2">
            @let dob = bookingForm.dateOfBirth;
            <label class="label flex items-center gap-0.5">
              <span class="label-text">Date of birth</span>
              @if (dob().required()) {
              <span class="label-text">*</span>
              }
            </label>
            <input type="date" [formField]="bookingForm.dateOfBirth" class="input input-bordered w-full" [class]="{
    'input-neutral': !focused().dateOfBirth || !dob().invalid(),
    'input-error': focused().dateOfBirth && dob().invalid()
  }" (focus)="focused.set({ ...focused(), dateOfBirth: true })" />

            <div class="error-label-box">
              @if (focused().dateOfBirth) {
              <ng-container *ngTemplateOutlet="formError; context: { $implicit: dob }"></ng-container>
              }
            </div>
          </div>

          <div class="form-control max-w-xs mt-2">
            @let st = bookingForm.date.start;
            <label class="label flex items-center gap-0.5">
              <span class="label-text">Start date</span>
              @if (st().required()) {
              <span class="label-text">*</span>
              }
            </label>
            <input type="date" [formField]="st" class="input input-bordered w-full" [class]="{
    'input-neutral': !focused().date || !bookingForm.date().invalid(),
    'input-error': focused().date && bookingForm.date().invalid()
  }" (focus)="focused.set({ ...focused(), date: true })" />

            <div class="error-label-box">
              @if (focused().date) {
              <ng-container *ngTemplateOutlet="formError; context: { $implicit: bookingForm.date }"></ng-container>
              }
            </div>
          </div>

          <div class="form-control max-w-xs mt-2">
            @let ed = bookingForm.date.end;
            <label class="label flex items-center gap-0.5">
              <span class="label-text">End date</span>
              @if (ed().required()) {
              <span class="label-text">*</span>
              }
            </label>
            <input type="date" [formField]="ed" class="input input-bordered w-full" [class]="{
    'input-neutral': !focused().date || !bookingForm.date().invalid(),
    'input-error': focused().date && bookingForm.date().invalid()
  }" (focus)="focused.set({ ...focused(), date: true })" />
          </div>

          <app-input [formField]="bookingForm.data" />

          <div class="mt-14">
            <button type="submit" [disabled]="bookingForm().invalid() || bookingForm().pending()"
              class="btn btn-primary">
              {{bookingForm().submitting() ? 'Sending...' : 'Submit'}}
            </button>
          </div>
        </form>


        @if (lastSubmission()) {
        <div class="alert mt-5 bg-[#FF31CE]/50 border-neutral text-sm shadow">
          <span>Last successful submission:
            @if (debouncedLastSubmission.isLoading()) {
            <span>Waiting for stable submission...</span>
            }
            {{ debouncedLastSubmission.isLoading() ? '' : debouncedLastSubmission.value() | json}}</span>
          <!-- <span>Last successful submission: {{ lastSubmission() | json }}</span> -->
        </div>
        }
      </div>
    </div>
  </div>
</div>

<!-- Form Error Template -->
<ng-template #formError let-control>
  @if (control().invalid()){
  @for (error of control().errors(); track error.kind) {
  <div class="label error-label-start" animate.leave="error-label-leave" role="alert"><span
      class="label-text-alt text-xs text-error">{{
      error.message
      }}</span></div>
  }}
</ng-template>
